absl-py
astor
backports.weakref
Click
enum34
Flask
funcsigs
futures
gast
grpcio
gunicorn
h5py
itsdangerous
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
mock
nltk
numpy
pandas
pbr
protobuf
python-dateutil
pytz
PyYAML
scikit-learn
scipy
six
sklearn
tensorboard
tensorflow
termcolor
Werkzeug
